.vscode/settings.json
/data
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Note-checkpoint.py
.ipynb_checkpoints/Note-checkpoint.ipynb
/.idea


Untitled.ipynb
L1_Starter_Code.ipynb
.ipynb_checkpoints/table_descriptions-checkpoint.txt
